* {
    box-sizing: border-box;
}
  
body {
    font: 1em/1.5 'Nunito', sans-serif;
    color: #001a41;
    background-color: rgb(241, 241, 241);
}

header {
    background-color: #001a41;
    color: white;
    padding: 20px;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.header-container p {
    margin: 0;
}

.main-container {
    width: 90%;
    margin: 20px auto;
    max-width: 500px;
}

input {
    background-color: rgb(212, 212, 212);
    text-indent: 10px;
}

input, button {
    border-radius: 5px;
    border-width: 0px;
    width: 100%;
    height: 40px;
}

.form-valid {
    font-size: 0.7em;
    margin: 0;
    padding: 0 10px;
    color: rgb(0, 109, 0);
    background-color: rgb(226, 255, 226);
    border-radius: 5px;
}

.form-typing {
    font-size: 0.7em;
    margin: 0;
    padding: 0 10px;
    color: rgb(212, 113, 0);
    background-color: rgb(255, 234, 167);
    border-radius: 5px;
}

.form-invalid {
    font-size: 0.7em;
    margin: 0;
    padding: 0 10px;
    color: rgb(212, 0, 0);
    background-color: rgb(255, 231, 231);
    border-radius: 5px;
}

button {
    margin-top: 10px;
    background-color: #001a41;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 43, 100);
}

button:active {
    background-color: rgb(0, 43, 100);
    color: rgb(255, 211, 117);
}

.error-msg {
    color: red;
}

.airport-name p {
    margin-bottom: 0px;
    border-bottom: 1px solid #001a41;
}

#raw-metar span {
    cursor: pointer;
}

#decoded-metar p {
    cursor: pointer;
}

.active {
    color: rgb(206, 141, 0);
}

.label-sticker {
    color: white;
    background-color: tomato;
    border-radius: 5px;
    padding: 0px 5px;
}

.label-bold {
    color: tomato;
    font-weight: bold;
}

/* ANIMATE FADE HIGHLIGHTS AND LABELS */

/* MEDIA QUERIES*/