* {
    box-sizing: border-box;
}
 
body {
    font: 1em/1.5 'Nunito', sans-serif;
    color: #001a41;
    background-color: rgb(241, 241, 241);
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #001a41;
    color: white;
    padding: 20px;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.header-container p {
    margin: 0;
}

.main-container {
    width: 90%;
    margin: 20px auto;
    max-width: 1024px;
}

input {
    background-color: rgb(212, 212, 212);
    text-indent: 10px;
    padding: 0px;
}

input, button {
    border-radius: 5px;
    border-width: 0px;
    width: 100%;
    height: 40px;
}

.form-valid {
    font-size: 0.7em;
    margin: 0px;
    padding: 5px 10px;
    color: rgb(0, 109, 0);
    background-color: rgb(226, 255, 226);
    border-radius: 5px;
}

.form-typing {
    font-size: 0.7em;
    margin: 0px;
    padding: 5px 10px;
    color: rgb(212, 113, 0);
    background-color: rgb(255, 234, 167);
    border-radius: 5px;
}

.form-invalid {
    font-size: 0.7em;
    margin: 0px;
    padding: 5px 10px;
    color: rgb(212, 0, 0);
    background-color: rgb(255, 231, 231);
    border-radius: 5px;
}

button {
    margin-top: 10px;
    background-color: #001a41;
    color: white;
    transition: background-color 250ms;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 54, 126);
}

button:active {
    background-color: rgb(0, 43, 100);
    color: rgb(255, 230, 176);
}

#error-msg {
    color: red;
}

.airport-name p {
    margin-bottom: 0px;
    border-bottom: 1px solid #001a41;
}

#raw-metar span {
    cursor: pointer;
}

#decoded-metar p {
    cursor: pointer;
}

#raw-metar span:not([class]) {
    cursor: default;
}

.active {
    color: rgb(5, 187, 157);
    transition: 250ms;
}

span:not(.active),
p:not(.active) {
    transition: 250ms;
}

.label-sticker {
    color: white;
    background-color: tomato;
    border-radius: 5px;
    padding: 0px 5px;
}

.label-bold {
    color: tomato;
    font-weight: bold;
}

#raw-metar .label-sticker:hover {
    cursor: default;
}

#decoded-metar .label-bold:hover {
    cursor: default;
}

footer {
    height: 100px;
    background-color: #001a41;
    color: white;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    height: 100%;
}

footer p {
    align-self: center;
    font-size: 0.8em;
}

/* MEDIA QUERIES*/

@media (min-width: 768px) {

    form {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas:
            "input button"
            "validate validate";
    }

    input {
        grid-area: input;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .input-check {
        grid-area: validate;
    }

    button {
        grid-area: button;
        margin: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
}